body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  transition: color 0.5s ease-in-out; /* 서서히 변화시키는 속성. 
  transition: 범위, 시간,  벙삭 */
}

.clicked {
  color: tomato;
}

.sexy-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
